{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<h1 class="article-h1">API-routes</h1>

    <div class="article-report">

        <p>Hej och hå<br>
            <br>
            JSON-routes:<br>
            <a href="{{ path('api') }}">/api</a> : sammanställning av alla json-routes.<br>
            <a href="{{ path('apiQuote') }}">/api/quote </a>: slumpa fram ett citat med datum.<br>
            <a href="{{ path('apiDeck') }}">/api/deck </a>: visa hela kortleken<br>
            <a href="{{ path('apiShuffle') }}">/api/deck/shuffle </a>: blanda och visa kortleken<br>
            <a href="{{ path('api_deck_draw') }}">/api/deck/draw </a>: dra ett kort som visas. <br>
            <a href="{{ path('showGame') }}">api/game </a>: visa ställningen i kortspelet<br>
            <a href="{{ path('library_books') }}">api/library/books </a>: visa alla böcker<br>
            api/library/book/{isbn}: visa bok med valt ISBN.<br>
            <a href="{{ path('library_books_one', {'isbn': 9780063278677}) }}">api/library/book/9780063278677 </a>: visa bok med valt ISBN (exempel)<br>


        
        </p>
        <br>
        <p>Dra ett valfritt antal kort från kortleken:</p>
        <form method="post" action="{{ path('api_post') }}">
            <input type="number" name="num_cards" min="1" max="99" value="1">
            <input type="submit" name="do_it" value="Draw" class="drawbtn">
        </form>
        <br>
        <br>
    </div>
    <br>
        <br>
{% endblock %}