{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block body %}

<h1 class="article-h1">Bibliotek</h1>
    <div class="article-report">
        <table class="book-table">
            <th>Bild</th>
            <th>Titel</th>
            <th>ISBN</th>
            <th>Författare</th>
            <th></th>

            {% for book in library %}
            <tr>
                <td class="img-cell"><img src="{{ asset('img/books/'~book.getBildnamn|e~'.jpg') }}" alt="{{book.getTitel|e}}" class="book-img"></td>
                <td>
                    <a href="{{ path('library_view_one', {'id': book.getId}) }}">{{ book.getTitel|e }}</a>
                </td>
                    
                <td>{{ book.getIsbn|e }}</td>
                <td>{{ book.getForfattare|e }}</td>
                <td>
                    <a href="{{ path('library_delete', {'id': book.getId}) }}">ta bort</a>
                    {# <a href="{{ path('library_update', {'id': book.getId}) }}">updatera</a> #}

                </td>
            </tr>
            {% endfor %}
        </table>

        <a href="{{ path('library_create')}}">Lägg till bok</a>
</div>
{% endblock %}
