{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block body %}

<h1 class="article-h1">Uppdatera bok</h1>
    <div class="article-report">

        <form method="post">
            <label>Titel</label>
            <input type="text" name="i_titel" value="{{library.titel}}">
            
            <label>ISBN</label>
            <input type="text" name="i_isbn" value="{{library.isbn}}">

            <label>Författare</label>
            <input type="text" name="i_forfattare" value="{{library.forfattare}}">

            <label>Bildnamn</label>
            <input type="text" name="i_bildnamn" value ="{{library.bildnamn}}">

            <label>Bild</label>
            <input type="text" name="i_bild" value="{{library.bild}}">
    
            <input type="submit" value="Spara">
    
        </form>



        <a href="{{ path('library_view')}}">Tillbaka till översikt</a>
</div>
{% endblock %}
