{% extends "project/base2.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<h1 class="article-h1">Black Jack</h1>

    <div class="article-game">

        
            <div class="gamedraw">
                <div class="gameinfo summering">
                    <p>Sammanställning:</p>
                    <p>Bankens poäng = {{bankpoints}}</p>
                    <br>
                    <p>{{userOne}}:s poäng = {{userOnePoints}}</p>
                    <p>{{message1}}</p><br>
                    {% if user2 is not empty %}
                    <p>{{userTwo}}:s poäng = {{userTwoPoints}}</p>
                    <p>{{message2}}</p>
                    {% endif %}
                    <br>
                    {% if user3 is not empty %}
                    <p>{{userThree}}:s poäng = {{userThreePoints}}</p>
                    <p>{{message3}}</p>
                    {% endif %}


                </div>

            </div>
            </div>
        
        <br>
        <div class="gamediv">
            <form method="post" action="">
                <input type="submit" name="quit" value="Spela igen" class="gamebtn"
                    onClick="this.form.action='{{ path('proj') }}';this.form.method='get';">


            </form>
        </div>

        <br>
    </div>
    <br>
        <br>
{% endblock %}