{% extends "project/base2.html.twig" %}

{% block title %}Home{% endblock %}


{% block body %}
<h1 class="article-h1">Black Jack</h1>

    <div class="article-game">

        
            <div class="gamedraw">
                {# new #}
                <div class="bank">
                    <div class="gameinfo">
                        <p>Bankens kort:</p><br>
                        <p>Bankens totala poäng: {{bankpoints}}</p>
                    </div>
                    <div class="cards">
                        {% for card in bankhand %}
                        <img src="{{ asset('img/deck/'~card~'.svg') }}" alt="{{card}}" class="card-draw"><br>
                        {% endfor %}
                    </div>
                    {# <form method="post" action="">
                        <input type="submit" name="draw" value="Kolla vem som vann" class="gamebtn"
                            onClick="this.form.action='{{ path('proj_score') }}';">
                    </form> #}
                </div>
                {# new #}
                <div class="player">
                    <div class="gameinfo">
                        <p>Spelare: {{userOne}}</p>
                        <p>Dina kort:</p><br>
                        <p>Poäng: {{userOnePoints}}</p>
                    </div>
                    <div class="cards">
                        {% for card in user1 %}
                        <img src="{{ asset('img/deck/'~card~'.svg') }}" alt="{{card}}" class="card-draw"><br>
                        {% endfor %}
                    </div>
                    <form method="post" action="">
                        <input type="submit" name="draw" value="Dra ett kort" class="gamebtn player1btn"
                            onClick='this.form.action="{{ path("play1") }}";'>

                        <input type="submit" name="save" value="Spara poäng" class="gamebtn player1btn"
                            onClick="this.form.action='{{ path('play_save') }}'; ">
                    </form>

                </div>
                {% if user2 is not empty %}
                <div class="player">
                    <div class="gameinfo">
                        <p>Spelare: {{userTwo}}</p>
                        <p>Dina kort:</p><br>
                        <p>Poäng: {{userTwoPoints}}</p>
                    </div>
                    <div class="cards">
                        {% for card in user2 %}
                        <img src="{{ asset('img/deck/'~card~'.svg') }}" alt="{{card}}" class="card-draw"><br>
                        {% endfor %}
                    </div>
                    <form method="post" action="">
                        <input type="submit" name="draw" value="Dra ett kort" class="gamebtn"
                            onClick='this.form.action="{{ path("play2") }}";'>

                        <input type="submit" name="save" value="Spara poäng" class="gamebtn"
                            onClick="this.form.action='{{ path('proj_save') }}';">
                    </form>
                </div>
                {% endif %}
                {% if user3 is not empty %}
                <div class="player">
                    <div class="gameinfo">
                        <p>Spelare: {{userThree}}</p>
                        <p>Dina kort:</p><br>
                        <p>Poäng: {{userThreePoints}}</p>
                    </div>
                    <div class="cards">
                        {% for card in user3 %}
                        <img src="{{ asset('img/deck/'~card~'.svg') }}" alt="{{card}}" class="card-draw"><br>
                        {% endfor %}
                    </div>
                    <form method="post" action="">
                        <input type="submit" name="draw" value="Dra ett kort" class="gamebtn"
                            onClick='this.form.action="{{ path("play3") }}";'>

                        <input type="submit" name="save" value="Spara poäng" class="gamebtn"
                            onClick="this.form.action='{{ path('proj_save') }}';">
                    </form>
                </div>
                {% endif %}
            </div>
        <br>
        <br>
    </div>
    <br>
    <br>
{% endblock %}